.checkout-page {
    padding: 60px 20px;
    background-color: #f1dddd;
    min-height: 80vh;
}

.checkout-page h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #868281;
    background-color: #f1dddd;
}

.checkout-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
