/* src/styles/App.css ou global.css */

:root {
  --primary-color: #f4c2c2; /* Rosa semelhante ao fundo do logotipo */
  --secondary-color: #6b4a42; /* Marrom semelhante ao texto do logotipo */
  --text-color: #4a4a4a; /* Cor do texto, um tom mais escuro para legibilidade */
  --background-color: #ffffff; /* Cor de fundo branca ou neutra */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif; /* Ajuste a fonte conforme o estilo do site */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
